[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "onchain-fans/contracts/lib/forge-std"]
	path = onchain-fans/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "onchain-fans/contracts/lib/coprocessor-base-contract"]
	path = onchain-fans/contracts/lib/coprocessor-base-contract
	url = https://github.com/Mugen-Builders/coprocessor-base-contract
